.env
*venv*/
data/processed/
data/model_output/
data/raw/
data/golden*
data/scraped*

__pycache__/
*.pyc
.DS_Store

Test-Harness/data
scrapy_project/data
scrapy_project/.scrapy_env
scrapy_project/venue_scraper/.scrapy

*.json
*.html
*.csv
*.png
